@(stockitemForm: play.data.Form[StockItem], warehouseList: List[Warehouse], productList: List[Product])

@main("New Warehouse"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Neuer Benutzer</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
        @helper.form(action = routes.StockItemController.create()){
            @helper.select(
                field = stockitemForm("tmpwarehouse"),
                options = (warehouseList.map(warehouse => warehouse.getId().toString() -> warehouse.getName())),
                'id -> "warehouse",
                '_label -> "Lager",
                'class -> "form-control")
            @helper.select(
                field = stockitemForm("tmpproduct"),
                options = (productList.map(product => product.getId().toString() -> product.getName())),
                'id -> "product",
                '_label -> "Lager",
                'class -> "form-control")
            @helper.inputText(stockitemForm("quantity"), '_label -> "Menge", 'class -> "form-control")
            <button type="submit" class="btn btn-success" value="Anlegen" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Einlagern </button>
        }
        </div>
    </div>

}