@(warehouseForm: play.data.Form[Warehouse])

@main("New Warehouse"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Neuer Benutzer</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
        @helper.form(action = routes.WarehouseController.create()){
            @helper.inputText(warehouseForm("name"), 'id -> "name", '_label -> "Bezeichnung", 'class -> "form-control")
            @helper.inputText(warehouseForm("street"), '_label -> "Strasse", 'class -> "form-control")
            @helper.inputText(warehouseForm("postalCode"), '_label -> "PLZ", 'class -> "form-control")
            @helper.inputText(warehouseForm("city"), '_label -> "Ort", 'class -> "form-control")
            <button type="submit" class="btn btn-success" value="Anlegen" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Anlegen </button>
        }
        </div>
    </div>

}