@(userForm:Form[User])
@main("Neuer Benutzer"){
    <h1>Neuer Benutzer</h1>
    @helper.form(action = routes.UserController.create()){
        @helper.inputText(userForm("email"), 'id -> "email", '_label -> "E-Mail", 'class -> "form-control")
        @helper.inputPassword(userForm("password"),'id-> "password", '_label -> "Passwort", 'class -> "form-control")
        @helper.inputText(userForm("name"), 'id -> "name", '_label -> "Name", 'class -> "form-control")
        @helper.inputText(userForm("position"), 'id -> "position", '_label -> "Unternehmensposition", 'class -> "form-control")
    }
}