@(productList: List[Product])

@main("Produkte"){
    <h1>Produkte</h1>
    @if(productList.size() > 0) {

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>EAN</td>
                            <td>Bezeichnung</td>
                            <td>Beschreibung</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    @for(product <- productList){
                        <tr>
                            <td>@product.getEan()</td>
                            <td>@product.getName()</td>
                            <td>@product.getDescription()</td>
                            <td>
                                <a href="@routes.ProductController.show(product.getId())" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="@routes.ProductController.delete(product.getId())" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            </td>


                        </tr>

                    }
                    </tbody>
                </table>
            </div>

        </div>
    } else{
        <div class="warehouse-item">
            Kein Produkt vorhanden
        </div>
    }

    <div class="new-holder">
        <a href="@routes.FormController.addProduct" class="btn btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Neues Produkt anlegen</a>
    </div>

}