@(warehouse: Warehouse)

@main("Warehouse"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Lagerhaus: @warehouse.getName()</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <b>Anschrift:</b>
            <div>@warehouse.getStreet</div>
            <div>@warehouse.getPostalCode @warehouse.getCity()</div>
        </div>
    </div>

    <div class="row add-item">
        <div class="col-xs-2">
            <a href="@routes.FormController.addStockItem()" class="btn btn-success"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>EAN</td>
                    <td>Bezeichnung</td>
                    <td>Beschreibung</td>
                    <td>Menge</td>
                </tr>
            </thead>
            <tbody>
            @for(products <- warehouse.getStock()){
                <tr>
                    <td>@products.getProduct.getEan()</td>
                    <td>@products.getProduct.getName()</td>
                    <td>@products.getProduct.getDescription()</td>
                    <td>@products.getQuantity()</td>

                </tr>

            }
            </tbody>
        </table>
        </div>

    </div>

}